/*
============================
GEN STYLE
============================
*/
:root {
    /* Gradient Shades */
    --gradient-1: rgb(18, 1, 54);
    --gradient-2: rgb(3, 90, 166);
    /* Colors */
    --light-btn-set: rgb(240, 240, 240);
    --light-btn-set-75: rgba(240, 240, 240, 0.75);
    --med-btn-set: rgb(132, 132, 132);
    --dark-btn-set: rgba(24, 24, 24, 0.75);
    /* Output */
    --dark-output: rgba(0, 0, 0, 0.75);
}

*, *::before, *::after {
    box-sizing: border-box;
    /* Fonts */
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: normal;
}

body {
    /* Padding & Margin */
    padding: 0;
    margin: 0;
    /* bg style */
    background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
}

/*
============================
ELEMENTAL LAYOUTS & STYLES
============================
*/
.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    /* rows & columns */
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(8rem, auto) repeat(5, 6rem);
}

/* Grid Buttons */
.calc-grid > button {
    border: 1px solid var(--light-btn-set);
    outline: none;
    background-color: var(--light-btn-set-75);
}

.calc-grid > button:hover{
    background-color: var(--light-btn-set);
}

.span-one {
    grid-column: span 1;
}

.span-two {
    grid-column: span 2;
}

/* Output */
.output {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    word-wrap: break-word;
    word-break: break-all;
    /* bg color */
    color: var(--light-btn-set);
    background-color: var(--dark-output);
}

.output .previous-operand {
    color: var(--light-btn-set);
    opacity: 0.65;
}

.output .current-operand {
    color: var(--light-btn-set);
    opacity: 0.95;
}

/*
============================
DESKTOP - more than 2500px
============================
*/
@media only screen and (min-width: 2500px){
    .calc-grid {
        /* rows & columns */
        grid-template-columns: repeat(4, 8vw);
        grid-template-rows: minmax(20vh, auto) repeat(5, 14vh);
    }
    .calc-grid > button {
        border: 2.0px solid var(--light-btn-set);
        font-size: 3.25rem;
    }
    .output {
        padding: 2.0rem;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 3.25rem;
    }
    
    .output .current-operand {
        font-size: 4.25rem;
    }
}

/*
============================
DESKTOP - less than 2500px
============================
*/
@media only screen and (max-width: 2500px){
    .calc-grid {
        /* rows & columns */
        grid-template-columns: repeat(4, 6.5rem);
        grid-template-rows: minmax(18vh, auto) repeat(5, 6.5rem);
    }
    .calc-grid > button {
        border: 0.75px solid var(--light-btn-set);
        font-size: 2.25rem;
    }
    .output {
        padding: 2.5rem;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 2.25rem;
    }
    
    .output .current-operand {
        font-size: 2.75rem;
    }
}

/*
============================
DESKTOP - less than 1000px
============================
*/
@media only screen and (max-width: 1000px){
    .calc-grid {
        /* rows & columns */
        grid-template-columns: repeat(4, 12vw);
        grid-template-rows: minmax(12rem, auto) repeat(5, 6rem);
    }
    .calc-grid > button {
        border: 0.5px solid var(--light-btn-set);
        font-size: 2.0rem;
    }
    .output {
        padding: 1.75rem;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 2.25rem;
    }
    
    .output .current-operand {
        font-size: 2.75rem;
    }
}

/*
============================
MOBILE - less than 800px
============================
*/
@media only screen and (max-width: 800px){
    .calc-grid {
        /* rows & columns */
        grid-template-columns: repeat(4, 12vw);
        grid-template-rows: minmax(10rem, auto) repeat(5, 5rem);
    }
    .calc-grid > button {
        border: 0.5px solid var(--light-btn-set);
        font-size: 1.5rem;
    }
    .output {
        padding: 1.75rem;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 2.0rem;
    }
    
    .output .current-operand {
        font-size: 2.5rem;
    }
}

/*
============================
MOBILE - less than 600px
============================
*/
@media only screen and (max-width: 600px){
    .calc-grid {
        /* rows & columns */
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: minmax(10rem, auto) repeat(5, 5rem);
    }
    .calc-grid > button {
        border: 0.5px solid var(--light-btn-set);
        font-size: 1.75rem;
    }
    .output {
        padding: 1.75rem;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 2.0rem;
    }
    
    .output .current-operand {
        font-size: 2.5rem;
    }
}

/*
============================
MOBILE - less than 475px
============================
*/
@media only screen and (max-width: 475px){
    .calc-grid {
        /* rows & columns */
        grid-template-columns: repeat(4, 18vw);
        grid-template-rows: minmax(10rem, auto) repeat(5, 4rem);
    }
    .calc-grid > button {
        border: 0.5px solid var(--light-btn-set);
        font-size: 1.25rem;
    }
    .output {
        padding: 1.5rem;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 2.0rem;
    }
    
    .output .current-operand {
        font-size: 2.25rem;
    }
}