/*
============================
GEN STYLE
============================
*/
:root {
    /* Gradient Shades */
    --gradient-1: rgb(18, 1, 54);
    --gradient-2: rgb(3, 90, 166);
    /* Colors */
    --light-btn-set: rgb(240, 240, 240);
    --light-btn-set-2: rgba(240, 240, 240, 0.75);
    --med-btn-set: rgb(132, 132, 132);
    --dark-btn-set: rgb(24, 24, 24);
    /* Output */
    --dark-output: rgb(0, 0, 0);
}

*, *::before, *::after {
    box-sizing: border-box;
    /* Fonts */
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: normal;
}

body {
    /* Padding & Margin */
    padding: 0;
    margin: 0;
    /* bg style */
    background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
}

/*
============================
ELEMENTS
============================
*/
.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    /* rows & columns */
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(8rem, auto) repeat(5, 6rem);
}

/* Grid Buttons */
.calc-grid > button {
    border: 1px solid var(--light-btn-set);
    outline: none;
    background-color: var(--light-btn-set-2);
}

.calc-grid > button:hover{
    background-color: var(--light-btn-set);
}

.span-one {
    grid-column: span 1;
}

.span-two {
    grid-column: span 2;
}

/* Output */
.output {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 2vh;
    word-wrap: break-word;
    word-break: break-all;
    /* bg color */
    color: var(--light-btn-set);
    background-color: var(--dark-output);
}

.output .previous-operand {
    color: var(--light-btn-set);
    opacity: 0.65;
}

.output .current-operand {
    color: var(--light-btn-set);
    opacity: 0.95;
}

/*
============================
GENERAL LAYOUT
============================
*/


/*
============================
DESKTOP
============================
*/
@media only screen and (min-width: 950px){
}

/*
============================
MOBILE - less than 950 px
============================
*/
@media only screen and (max-width: 950px){
}

/*
============================
MOBILE - less than 700 px
============================
*/
@media only screen and (max-width: 700px){
    .calc-grid {
        min-height: 100vh;
        /* rows & columns */
        grid-template-columns: repeat(4, 4.5rem);
        grid-template-rows: minmax(6rem, auto) repeat(5, 4.5rem);
    }
    .calc-grid > button {
        border: 0.5px solid var(--light-btn-set);
        font-size: 1.25rem;
    }
    .output {
        grid-column: 1 / -1;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.0vh;
        word-wrap: break-word;
        word-break: break-all;
        /* bg color */
        color: var(--light-btn-set);
        background-color: var(--dark-output);
    }
    .output .previous-operand {
        font-size: 2.0rem;
    }
    
    .output .current-operand {
        font-size: 2.75rem;
    }
}